:root {
  --primary: #000;
  --primary-background: #ffc107;
  --stroke-color: var(--primary);
  --stroke-width: 26.0719;
  --logo-color: var(--primary-background);
  --bolt-color: var(--primary-background);
}

body {
  font-family: arial, sans-serif;
}

div {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  background: #fff;
}

svg {
  max-width: 80vw;

  @media(min-width: 600px) {
    max-width: 60vw;
  }
}

p {

}
